useDynLib(SAGx)
import( stats)
import(Biobase)
# are multtest and sma needed?
# importFrom(stats, kruskal.test,pr.comp)
export(clin2mim,cluster.q,estimatep0,fetchSignal,firstpass,fom,fp.fn,Fstat,
gap,GSEA.mean.t,JT.test,list.experiments,list.intersection.p,
mat2TeX,myclus,normalise,one.probeset.per.gene,outlier,p0.mom,pava,pava.fdr,
R2BASE, R2mim,rank.genes,rank.trend,rsd.test,samrocN,samrocNboot,union.of.pways,
Xprep, Xprep.resid, Zfreq)

exportClasses(samroc.result)

exportMethods(show, plot)
